<!-- Describe task in general -->
<p style="text-align: justify;">
    <a target="_blank" href="https://en.wikipedia.org/wiki/M._C._Escher">M. C. Escher</a> was a Dutch graphic artist who created incredible illustrations which were inspired by mathematics. For example, he filled the canvas with self-similar objects, whose contours fit into themselves, creating very impressive <a target="_blank" href="https://mcescher.com/gallery/symmetry/#">geometric symmetries</a>.
</p>

<p style="text-align: justify;">
    See a very simple example of this idea in the following figure, which shows an object that is an orthogonal profile defined by a sequence of natural numbers representing the sequence of heights. We can take a copy of the object, rotate it 180 degrees and fit it perfectly into the original object, forming a rectangle.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}Captura de Tela 2023-05-03 às 11.47.39.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    In more general terms, if a sequence of N natural numbers representing the sequence of heights is A<sub>1</sub>, A<sub>2</sub>, A<sub>3</sub>, ..., A<sub>N-2</sub>, A<sub>N-1</sub>, A<sub>N</sub>, the profile defined will be called an Escher profile if we have A<sub>1</sub>+A<sub>N</sub> equal to A<sub>2</sub>+A<sub>N-1</sub> equal to A<sub>3</sub>+A<sub>N-2</sub>, and so on. In this problem, you will be given the sequence of heights that define the profile and your program must decide whether the profile is Escher or not.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
    <strong>Output:</strong> Boolean value <span translate="no">(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

